* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background: #f8f8f8;
}

.input {
    text-align: center;
    margin: 100px auto;
}

input[type="submit"] {
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.input input[type="text"] {
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.card {
    width: 50%;
    background: #e7e7e7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
}


.close {
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
}

.card h1 {
    padding: 5px 0;
    text-align: center;
}

.card p {
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
}

/*MAIN*/
.body {
    background-color: whitesmoke;
}

.logo {
    font-size: 30px;
    text-align: center;
    font-family: "Times New Roman";
    font-style: normal;
    padding-bottom: 1%;
}

.nav-bar {
    border-bottom: solid #5a5a5a;
    padding: 1% 1% 1% 1%;
}

.overlap-banner {
    color: #5a5a5a;
    font-weight: bold;
    font-family: Calibri;
    font-size: 175%;
    text-align: center;
    padding: 2% 0 1% 0;
    text-shadow: 1px 1px 1px gray;
}

/*CLOTH ADD VIEW*/
.list-container {
    margin-top: 10px;
    border: solid 1px #5a5a5a;
}

.form-container {
    border: solid 1px #c3c3c3;
    align-content: center;
    margin-top: 5px;
    background-color: azure;
    padding: 10px;
}

.form-row-container {
    padding: 10px;
}

.text-in-form {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: dimgrey;
    text-shadow: 1px 1px 1px gray;
}

/*FILTER*/
.cloth-filter {
    margin-top: 10px;
    margin-left: 20px;
    border: solid 2px dimgrey;
    padding: 5px;
    background-color: white;
    max-width: 20vw;
    max-height: 50vh;
    position: absolute;
    left: 0.5%;
    z-index: auto;
}

.cloth-filter-row {
    margin-top: 1%;
    left: 3%;
    border: solid 2px dimgrey;
    padding: 0.1%;
    background-color: white;
    width: 100%;
    align-items: center;
    text-align: center;
}

/*CLOTH LIST*/
.cloth-module {
    margin-top: 4px;
    box-shadow: 2px 2px 2px 2px #5a5a5a;
    padding-bottom: 5px;
    background-color: white;
    width: 15vw;
    height: 65vh;
    max-width: 20vw;
    max-height: 70vh;
}

.cloth-in-seasson {
    margin-top: 0.5vh;
    font-size: 1vw;
    text-align: center;
    background-color: darkseagreen;
}

.cloth-of-seasson {
    margin-top: 0.5vh;
    font-size: 1vw;
    text-align: center;
    background: lightcoral;
}

.cloth-brand {
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    /*height: auto;*/
    /*width: auto;*/
}

.divider {
    border-top: solid 2px #5a5a5a;
    background-color: #c3c3c3;
    margin-bottom: 5px;
    margin-top: 5px;
}

.description {
    font-size: 1vw;
}

.season-logo {
    position: fixed;
    margin-top: 5px;
    width: auto;
    height: auto;
}

/*BUTTONS VIEW*/
.to-left {
    position: relative;
    transform: translate(15%, 0%);
}

.to-right {
    position: relative;
    transform: translate(75%, 0%);
}


.back-to-top-btn {
    margin-bottom: 1%;
}

.center_newbtn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-top-gap {
    flex-direction: row;
    padding-top: 1%;
    padding-left: 10%;

}

.btn-down-gap {
    flex-direction: row;
    padding-bottom: 1%;
    padding-left: 10%;
}

.top-btn {
    background-color: #c3c3c3;
    height: 0.2%;
    width: 5%;
    padding: 2px;
    border: solid 2px #5a5a5a;
    border-radius: 1px;
}

/*OTHER*/
.text-bold {
    font-weight: bold;
}

/*OUTFIT VIEW*/

.outfit-form {
    padding-bottom: 1%;
}

.outfit-banner {
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    padding-bottom: 1vh;

}

.outfit-cloth-view {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 40px;

}

.outfit-create {
    box-shadow: 2px 2px 2px 2px #5a5a5a;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;
}

.cloth-brand-outfit {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.cloth-other-outfit {
    font-size: 10px;
}

.cloth-photo-outfit {
    height: auto;
    max-width: 100%;
}

.cloth-photo-list {
    height: auto;
    max-width: 100%;
}

.cloth-emptyphoto-list {
    height: 100%;
    width: auto;
}

.cloth-module-outfit {
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px 2px #5a5a5a;
    padding-bottom: 5px;
    background-color: white;

    width: 10vw;
    height: 55vh;
    max-width: 150vw;
    max-height: 60vh;
}

.outfitList-cloth-module {
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px 2px #5a5a5a;
    padding-bottom: 5px;
    background-color: white;

    width: 5vw;
    height: 40vh;
    max-width: 140vw;
    max-height: 40vh;
}

.type-name {
    padding-bottom: 10px;
    padding-top: 10px;
}

.form-outfit-items-center {
    align-content: center;
    align-items: center;
}

.outfit-module {
    padding: 1%;
    border-bottom: solid 3px #c3c3c3;
}

.outfit-name {
    text-shadow: 1px 1px 5px dimgrey;
}