<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta brandName="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>List Cloth</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body class="body">
<header th:replace="fragments :: navigator"></header>
<main role="main" class="main">

    <div class="row col-md-12">
        <div class="container col-md-2 cloth-filter">
            <!--FILTERS-->
            <form th:action="@{/cloth/list}" th:method="get">
                <div class="display-12 <!--col-md-12-->" th:text="Filters"></div>
                <!--BRAND-->
                <div class="col-md-12">
                    <label for="brands">Brand:</label>
                    <div class="col-md-12">
                        <select th:name="brandsFilter" id="brands">
                            <option value=""></option>
                            <option th:each="brand : ${brands}"
                                    th:text="${brand.brandName}"
                                    th:value="${brand.brandId}"></option>
                        </select>
                    </div>
                </div>

                <!--TYPE-->
                <div class="col-md-12">
                    <label for="type">Type:</label>
                    <div class="col-md-12">
                        <select th:name="typeFilter" id="type">
                            <option value=""></option>
                            <option th:each="clType : ${clothTypes}" th:text="${clType.name}"
                                    th:value="${clType.id}"></option>
                        </select>
                    </div>
                </div>

                <!--OCCASION-->
                <div class="col-md-12">
                    <label for="occasion">Occasion:</label>
                    <div class="col-md-12">
                        <select th:name="occasionFilter" id="occasion">
                            <option value=""></option>
                            <option th:each="occas : ${occasionList}" th:text="${occas.getOccasionName()}"
                                    th:value="${occas.getOccasionId()}"></option>
                        </select>
                    </div>
                </div>

                <!--Season-->
                <div class="col-md-12">
                    <label for="season">Season:</label>
                    <div class="col-md-12">
                        <select th:name="seasonFilter" id="season">
                            <option value=""></option>
                            <option th:each="seas : ${seasonList}" th:text="${seas.getSeasonName()}"
                                    th:value="${seas.getSeasonId()}"></option>
                        </select>
                    </div>
                </div>

                <!--PRZYCISK-->
                <div class="col-md-12 btn-top-gap">
                    <button type="submit" class="btn btn-success">Filter</button>
                </div>
            </form>
        </div>

        <!--CLOTHES-->
        <div class="row container col-md-10 offset-2">
            <div class="col-md-3" th:each="cloth : ${clothList}">

                <div class="col-md-12 cloth-module">
                    <!--<div class="row col-md-12">-->

                    <!--SEASON-->
                    <!--IN-SEASON-->
                    <div class="col-md-12" th:if="${cloth.season.inSeason()}">
                        <div class="cloth-in-seasson col-md-12"
                             th:text="${cloth.getSeason().getSeasonName().name()}">
                        </div>
                    </div>
                    <!--OF-SEASON-->
                    <div class="col-md-12" th:if="${!cloth.season.inSeason()}">
                        <div class="cloth-of-seasson col-md-12"
                             th:text="${cloth.getSeason().getSeasonName().name()}">
                        </div>
                    </div>

                    <!--BRAND-->
                    <div class="cloth-brand col-md-12" th:text="${cloth.brand.brandName}"></div>

                    <!--PHOTO-->
                    <div class="col-md-12" th:if="${!cloth.photoEmpty}">
                        <img th:src="@{'data:image/png;base64,'+${cloth.convertBinImageToString()}}"
                             alt="Photo of cloth."
                             class="col-md-12 cloth-photo-list"
                             id="photo">
                    </div>

                    <div class="col-md-12" th:if="${cloth.photoEmpty}">
                        <img src="../static/images/no-image-found.png"
                             alt="Photo with information that there is no photo attached to cloth."
                             class="col-md-12 cloth-emptyphoto-list">
                        <!--<div class="col-md-12 cloth-emptyphoto-list"></div>-->
                    </div>

                    <!--TYPE-->
                    <div class="description row col-md-12">
                        <div class="col-md-12" th:text="${cloth.clothType.name}"></div>
                    </div>

                    <!--OCCASION-->
                    <div class="description row col-md-12 col-lg-12">
                        <div class="row col-md-5" th:each="ocas : ${cloth.occasion}">
                            <div class="col-12" th:text="${ocas.occasionName}+' '"></div>
                        </div>
                    </div>

                    <div class="col-md-12 divider"></div>

                    <!--BUTTONS-->
                    <nav class="row col-md-12 btn-top-gap align-items-center">
                        <a th:href="@{'/cloth/update/'+${cloth.getClothId()}}" class="col-md-6">
                            <button type="button" class="btn-warning btn-sm col-md-12">EDIT</button>
                        </a>

                        <a th:href="@{'/cloth/delete/'+${cloth.getClothId()}}" class="col-md-6">
                            <button type="button" class="btn-danger btn-sm col-md-12"
                                    th:text="X"></button>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments:: footer"></footer>
</main>
</body>
</html>