<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Cloth</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 ">
            <div class="col-md-12 overlap-banner">Add Cloth</div>
            <div class="col-md-12">
                <form th:action="@{/cloth/add}" method="post" th:object="${cloth}" enctype="multipart/form-data"
                      class="col-md-12 form-container">
                    <input type="hidden" th:field="*{clothId}" th:value="*{clothId}">

                    <!--CLOTH TYPE-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-5">
                            <label for="clothType">Cloth Type:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" th:name="clothTypeId" id="clothType">
                                <option th:each="clType: ${clothTypes}"
                                        th:text="${clType.getName()}"
                                        th:value="${clType.getId()}"></option>
                            </select>
                        </div>
                        <!--ADD CLOTH TYPE-->
                        <div class="col-md-2">
                            <a th:href="@{/clothType/add}">
                                <button type="button" class="btn-warning center_newbtn">New</button>
                            </a>
                        </div>
                    </div>

                    <!--BRAND-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-5">
                            <label for="brand">Brand:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" th:name="brandId" id="brand">
                                <option th:each="brand : ${brands}"
                                        th:value="${brand.getBrandId()}"
                                        th:text="${brand.getBrandName()}"></option>
                            </select>
                        </div>
                        <!--ADD BRAND-->
                        <div class="col-md-2">
                            <a th:href="@{/brand/add}">
                                <button type="button" class="btn-warning center_newbtn">New</button>
                            </a>
                        </div>
                    </div>

                    <!--OCCASION-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-5">
                            <label for="occasion">Occasion:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" th:name="occasionId" id="occasion">
                                <option th:each="occasion: ${occasionList}"
                                        th:value="${occasion.getOccasionId()}"
                                        th:text="${occasion.getOccasionName()}"></option>
                            </select>
                        </div>
                        <!--ADD OCCASION-->
                        <div class="col-md-2">
                            <a th:href="@{/occasion/add}">
                                <button type="button" class="btn-warning center_newbtn">New</button>
                            </a>
                        </div>
                    </div>

                    <!--SEASON-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-5">
                            <label for="season">Season:</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" th:name="seasonId" id="season">
                                <option th:each="seasonTp: ${seasonList}" th:text="${seasonTp.getSeasonName()}"
                                        th:value="${seasonTp.getSeasonId()}"></option>
                            </select>
                        </div>
                    </div>

                    <!--PHOTO-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-5">
                            <label for="photo">Photo:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="col-md-12" type="file" id="photo" th:name="file">
                        </div>

                        <div th:if="${cloth.getPhoto() != null}" class="row col-md-12">
                            <div class="text-in-form col-md-6">
                                <label for="photo">Current Photo:</label>
                            </div>
                            <img class="offset-2 cloth-photo"
                                 th:src="@{'data:image/png;base64,'+${cloth.convertBinImageToString()}}"
                                 alt="No photo added yet"/>
                        </div>
                    </div>

                    <!--BUTTONS-->
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <a th:href="@{${backReferer}}">
                                <button type="button" class="btn btn-danger col-md-6 offset-3">Back</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success col-md-6 offset-3">Accept</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments:: footer"></footer>
</main>
</body>
</html>