<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>fragments</title>
    <th:block th:fragment="headerlinks">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/style.css}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </th:block>
</head>

<body>
<th:block th:fragment="navigator">
    <header>

        <div class="nav-bar container">
            <div class="logo col-md-12">E_WARDROB€</div>
            <div class="col-md-12">

            </div>
            <nav class="row col-md-12 align-items-center">
                <a th:href="@{/cloth/add}" class="col-md-3">
                    <button type="submit" class="col-md-12 btn btn-dark">Add Cloth</button>
                </a>

                <a th:href="@{/cloth/list}" class="col-md-3">
                    <button type="submit" class="col-md-12 btn btn-dark">Cloth List</button>
                </a>

                <a th:href="@{/outfit/add}" class="col-md-3">
                    <button type="submit" class="col-md-12 btn btn-dark">Create Outfit</button>
                </a>

                <a th:href="@{/outfit/listOutfit}" class="col-md-3">
                    <button type="submit" class="col-md-12 btn btn-dark">List Outfit</button>
                </a>
            </nav>
        </div>
    </header>
</th:block>

<footer th:fragment="footer">
    <footer class="container">
        <div class="col-md-2 offset-md-11 back-to-top-btn">
            <a href="#top">
                Back to top
            </a>
        </div>
    </footer>
</footer>

</body>
</html>