<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Outfit</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body class="body">
<header th:replace="fragments :: navigator"></header>
<main role="main" class="main">

    <div class="row container col-md-12">
        <!--FILTRY-->
        <div class="row col-md-12">
            <form class="row col-md-12 cloth-filter-row" th:action="@{/outfit/listCloth}"
                  th:method="get">

                <input type="hidden" name="outfitId" th:value="${outfit.getOutfitId()}"/>
                <!--BRAND-->
                <div class="col-md-3">
                    <label for="brands">Brand:</label>
                    <select th:name="brandsFilter" id="brands">
                        <option value=""></option>
                        <option th:each="brand : ${brands}"
                                th:text="${brand.getBrandName()}"
                                th:value="${brand.getBrandId()}"></option>
                    </select>
                </div>

                <!--TYPE-->
                <div class="col-md-2">
                    <label for="type">Type:</label>
                    <select th:name="typeFilter" id="type">
                        <option value=""></option>
                        <option th:each="clType : ${clothTypes}"
                                th:text="${clType.name}"
                                th:value="${clType.id}"></option>
                    </select>
                </div>

                <!--OCCASION-->
                <div class="col-md-3">
                    <label for="occasion">Occasion:</label>
                    <select th:name="occasionFilter" id="occasion">
                        <option value=""></option>
                        <option th:each="occas : ${occasionList}"
                                th:text="${occas.getOccasionName()}"
                                th:value="${occas.getOccasionId()}"></option>
                    </select>
                </div>

                <!--Season-->
                <div class="col-md-3">
                    <label for="season">Season:</label>
                    <select th:name="seasonFilter" id="season">
                        <option value=""></option>
                        <option th:each="seas : ${seasonList}"
                                th:text="${seas.getSeasonName()}"
                                th:value="${seas.getSeasonId()}"></option>
                    </select>
                </div>

                <!--PRZYCISK-->
                <div class="col-md-1">
                    <button type="submit" class="btn-sm btn-secondary">Filter</button>
                </div>
            </form>
        </div>

        <div class="row col-md-12 outfit-cloth-view">
            <!--LIST OF CLOTH IN OUTFIT-->
            <div class="col-md-5 outfit-create">
                <form class="row col-md-12 outfit-form" th:action="@{/outfit/add}" th:method="post"
                      th:object="${outfit}">
                    <input type="hidden" th:field="*{outfitId}" th:value="*{outfitId}">
                    <input type="hidden" th:field="*{clothSet}" th:value="*{clothSet}">
                    <div class="row container cloth-in-outfit col-md-12">
                        <div class="col-md-12 outfit-banner">Outfit Creator</div>

                        <div class="col-md-6" th:each="cloth : ${outfit.getClothSet()}">
                            <div class="col-md-12 cloth-module-outfit">
                                <!--SEASON-->
                                <!--IN-SEASON-->
                                <div class="col-md-12 cloth-other-outfit" th:if="${cloth.season.inSeason()}">
                                    <div class="cloth-in-seasson col-md-12"
                                         th:text="${cloth.getSeason().getSeasonName().name()}">
                                    </div>
                                </div>
                                <!--OF-SEASON-->
                                <div class="col-md-12 cloth-other-outfit" th:if="${!cloth.season.inSeason()}">
                                    <div class="cloth-of-seasson col-md-12"
                                         th:text="${cloth.getSeason().getSeasonName().name()}">
                                    </div>
                                </div>

                                <!--<div class="row col-md-12 cloth-other-outfit">-->
                                <!--<div class="col-md-4" th:text="${cloth.getSeason().getSeasonName()}"></div>-->
                                <!--</div>-->

                                <!--BRAND-->
                                <div class="cloth-brand-outfit col-md-12" th:text="${cloth.brand.getBrandName()}"></div>

                                <!--PHOTO-->
                                <div class="col-md-12">
                                    <img class="col-md-12 cloth-photo-outfit"
                                         th:src="@{'data:image/png;base64,'+${cloth.convertBinImageToString()}}"
                                         alt="">
                                </div>

                                <div class="col-md-12" th:if="${cloth.photoEmpty}">
                                    <img src="../static/images/no-image-found.png"
                                         alt="Photo with information that there is no photo attached to cloth."
                                         class="col-md-12 cloth-emptyphoto-list">
                                </div>

                                <!--TYPE-->
                                <div class="row col-md-12 cloth-other-outfit">
                                    <div class="col-md-2">T:</div>
                                    <div class="col-md-4" th:text="${cloth.clothType.name}"></div>
                                </div>


                                <!--OCCASION-->
                                <div class="row align-text-bottom col-md-12 cloth-other-outfit">
                                    <div class="col-md-2">O:</div>
                                    <div class="col-md-5 row" th:each="ocas : ${cloth.occasion}">
                                        <div class="col-md-3" th:text="${ocas.getOccasionName()}+' '"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 divider"></div>

                                <!--REMOVE BUTTONS-->
                                <a class="row col-md-12 offset-9"
                                   th:href="@{'/outfit/removeCloth?outfitId='+${outfit.getOutfitId()}+'&clothId='+${cloth.getClothId()}}">
                                    <button type="button" class="btn btn-danger btn-sm"
                                            th:text="X"></button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--NAME-->
                    <div class="row col-md-12 type-name">
                        <label class="col-md-4 text-bold" for="nameO">Add Name:</label>
                        <input class="col-md-5" type="text" id="nameO"
                               th:field="*{name}" th:value="*{name}" required> <!--th:brandName="brandName" -->
                    </div>

                    <!--BUTTONS-->
                    <!--CREATE BUTTONS-->
                    <div class="col-md-12">
                        <div th:if="${!outfit.getClothSet().isEmpty()}" class="row col-md-4 offset-10">
                            <button type="submit" class="btn btn-success btn-bottom-gap">Create</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--CLOTH LIST TO ADD-->
            <div class="row container col-md-7">
                <div class="col-md-4" th:each="cloth : ${clothList}">
                    <div class="col-md-12 cloth-module-outfit">
                        <!--SEASON-->
                        <!--IN-SEASON-->
                        <div class="col-md-12 cloth-other-outfit" th:if="${cloth.season.inSeason()}">
                            <div class="cloth-in-seasson col-md-12"
                                 th:text="${cloth.getSeason().getSeasonName().name()}">
                            </div>
                        </div>
                        <!--OF-SEASON-->
                        <div class="col-md-12 cloth-other-outfit" th:if="${!cloth.season.inSeason()}">
                            <div class="cloth-of-seasson col-md-12"
                                 th:text="${cloth.getSeason().getSeasonName().name()}">
                            </div>
                        </div>

                        <!--BRAND-->
                        <div class="cloth-brand col-md-12" th:text="${cloth.brand.getBrandName()}"></div>

                        <!--PHOTO-->
                        <div class="col-md-12"><img class="col-md-12 cloth-photo-list" id="photo"
                                                    th:src="@{'data:image/png;base64,'+${cloth.convertBinImageToString()}}"
                                                    alt="">
                        </div>

                        <div class="col-md-12" th:if="${cloth.photoEmpty}">
                            <img src="../static/images/no-image-found.png"
                                 alt="Photo with information that there is no photo attached to cloth."
                                 class="col-md-12 cloth-emptyphoto-list">
                        </div>

                        <!--TYPE-->
                        <div class="row col-md-12">
                            <div class="col-md-2">T:</div>
                            <div class="col-md-4" th:text="${cloth.clothType.name}"></div>
                        </div>

                        <!--OCCASION-->
                        <div class="row align-text-bottom col-md-12">
                            <div class="col-md-2">O:</div>
                            <div class="col-md-5 row" th:each="ocas : ${cloth.occasion}">
                                <div class="col-md-3" th:text="${ocas.getOccasionName()}+' '"></div>
                            </div>
                        </div>

                        <div class="col-md-12 divider"></div>

                        <!--BUTTONS-->
                        <div class="row col-md-12">
                            <a class="col-md-4 offset-4"
                               th:href="@{'/outfit/addCloth?outfitId='+${outfit.getOutfitId()}+'&clothId='+${cloth.getClothId()}}">
                                <button type="button" class="btn btn-warning btn-sm"
                                        th:if="${outfit.checkIfContains(cloth.clothType)}"
                                        th:text="REPLACE"></button>
                                <button type="button" class="btn btn-info btn-sm"
                                        th:if="${!outfit.checkIfContains(cloth.clothType)}"
                                        th:text="ADD"></button>

                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <footer th:replace="fragments:: footer"></footer>
</main>
</body>
</html>