<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Outfit</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body class="body">
<header th:replace="fragments :: navigator"></header>
<main role="main" class="main">

    <div class="row col-md-12">
        <!--CIUCHY-->
        <div class="container col-md-12">
            <div class="col-md-12" th:each="outfits : ${outfitList}">
                <div class="col-md-12" th:if="${outfitList.isEmpty()}">
                    <div type="text" th:text="There is no outfits"></div>
                </div>
                <div class="row col-md-12 outfit-module">
                    <!--PRZYCISKI-->
                    <div class="row col-md-12 btn-top-gap btn-down-gap outfit-name">
                        <div class="col-md-2 offset-2">
                            <a th:href="@{'/outfit/update/'+ ${outfits.getOutfitId()}}">
                                <button type="button" class="btn-sm btn-warning btn-sm">EDIT
                                </button>
                            </a>
                        </div>

                        <!--NAME-->
                        <div class="col-md-4" th:if="${outfits.inSeason()}">
                            <div class="col-md-12 cloth-brand cloth-in-seasson" th:text="${outfits.getName()} + ' for '
                            + ${outfits.getSeasonName().name()}"></div>
                        </div>

                        <div class="col-md-4" th:if="${!outfits.inSeason()}">
                            <div class="col-md-12 cloth-brand cloth-of-seasson" th:text="${outfits.getName()} + ' for '
                            + ${outfits.getSeasonName().name()}"></div>
                        </div>


                        <div class="col-md-2 offset-1">
                            <a th:href="@{'/outfit/delete/'+${outfits.getOutfitId()}}">
                                <button type="button" class="btn-sm btn-danger btn-sm"
                                        th:text="X"></button>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2" th:each="cloth : ${outfits.getClothSet()}">
                        <div class="col-md-12 outfitList-cloth-module">
                            <!--SEASON-->
                            <!--IN-SEASON-->
                            <div class="col-md-12" th:if="${cloth.season.inSeason()}">
                                <div class="cloth-in-seasson col-md-12"
                                     th:text="${cloth.getSeason().getSeasonName().name()}">
                                </div>
                            </div>
                            <!--OF-SEASON-->
                            <div class="col-md-12" th:if="${!cloth.season.inSeason()}">
                                <div class="cloth-of-seasson col-md-12"
                                     th:text="${cloth.getSeason().getSeasonName().name()}">
                                </div>
                            </div>

                            <!--BRAND-->
                            <div class="cloth-brand col-md-12" th:text="${cloth.brand.getBrandName()}"></div>

                            <!--PHOTO-->
                            <div class="col-md-12" th:if="${!cloth.photoEmpty}">
                                <img class="col-md-12 cloth-photo"
                                     th:src="@{'data:image/png;base64,'+${cloth.convertBinImageToString()}}"
                                     alt="PhotoNotFound"/>
                            </div>

                            <div class="col-md-12" th:if="${cloth.photoEmpty}">
                                <img src="../static/images/no-image-found.png"
                                     alt="Photo with information that there is no photo attached to cloth."
                                     class="col-md-12 cloth-emptyphoto-list">
                            </div>

                            <!--TYPE-->
                            <div class="row col-md-12">
                                <div class="col-md-2">T:</div>
                                <div class="col-md-4" th:text="${cloth.clothType.name}"></div>
                            </div>

                            <!--OCCASION-->
                            <div class="row col-md-12 col-lg-12">
                                <div class="col-md-2">O:</div>
                                <div class="col-md-5 row" th:each="ocas : ${cloth.occasion}">
                                    <div class="col-3" th:text="${ocas.getOccasionName()}+' '"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments:: footer"></footer>
</main>
</body>
</html>